# Ambiente virtual
venv/

# Arquivos temporários e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de gráficos gerados
*.png

# Configurações do VSCode
.vscode/

# Outros arquivos desnecessários
.DS_Store
Thumbs.db
